<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Teacher management</title>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
	integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
	crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#">Teacher Management System</a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" th:href="@{/teacher}">Teacher Management</a>
      </li>
      
    </ul>
  </div>
</nav><br>
	<div class="container">
		<div class="row">
			<div
				class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
				<h1>Create new Teacher</h1>
				<div class="card-body">
					<form th:action="@{/teacher}" th:object="${teacher} " method="post">
						<div class="form-group">
							<label>Teacher First Name
								<p style="color: red;">(*)</p>
							</label> <input type="text" name="firstName" th:field="*{firstName}"
								class="form-control" placeholder="Enter teacher first name">
						</div>

						<div class="form-group">
							<label> Teacher Last Name
								<p style="color: red;">(*)</p>
							</label> <input type="text" name="lastName" th:field="*{lastName}"
								class="form-control" placeholder="Enter teacher last name">
						</div>

						<div class="form-group">
							<label>Teacher phonenumber
								<p style="color: red;">(*)</p>
							</label> <input type="tell" name="phoneno" th:field="*{phoneno}"
								class="form-control" placeholder="Enter teacher phone no">
						</div>

						<div class="form-group">
							<label>Teacher dob</label> <input type="date" name="Dob"
								th:field="*{Dob}" class="form-control" placeholder="Teacher DOB">
						</div>

						<div class="form-group">
							<label>Teacher Address</label>
							<!-- 	<input type=="textarea row="" col="" " name="address" th:field="*{address}" clads="form-control" placeholder="Teacher address"> -->
							<textarea rows="" cols="" name="address" th:field="*{address}"
								class="form-control" placeholder="Teacher address"></textarea>
						</div>


						<div class="form-group">
							<label  >Teacher subject</label> <select
								 name="subject" th:field="*{subject}"
								 class="form-control"  placeholder="Teacher subject">
								<option value="Telugu">Telugu</option>
								<option value="Hindi">Hindi</option>
								<option value="Engilsh">English</option>
								<option value="Maths">Maths</option>
								<option value="Science">Science</option>
								<option value="Biology">Biology</option>
								<option value="Chemistry">Chemistry</option>
								<option value="Social">Social</option>
								<option value="Computer">Computer</option>
								<option value="Sports">Sports</option>
								<option value="Nursury">Nursury</option>
								<option value="LKG">LKG</option>
								<option value="UKG">UKG</option>
								<option value="other">other</option>
							</select>
						</div>
						
						
						<div class="form-group">
							<label>User name</label>
						 	<input type=="text" name="userName" th:field="*{userName}" clads="form-control" placeholder="Enter Email">  
							</div>
							
							<div class="form-group">
							<label>User name</label>
						 	<input type=="text" name="userPass" th:field="*{userPass}" clads="form-control" placeholder="Enter password">  
							</div>
							
							



						<div class="box-footer">
							<button type="submit" class="btn btn-primary">submit</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

</body>
</html>