@charset "ISO-8859-1";

.demo{
	
	background-color: yellow;
	padding-top: 10px;
	font-size: 20px;
	 
}

#demo1{
	border : 1px solid ;
	width: 300px;
	height: 300px;
	
	margin-left: 30%;
	margin-top: 10%;
	padding-top: 100px;
	padding-left: 10px;
	
	
	
}

#demo2{
	
	 margin-left: 30%;
	 border-radius: 20%;
	 background-color: aqua;
	 font-size: large;
	 font-weight:900px;
	 width: 100px;
	 height: 35px;
}